/* FONTS */
@font-face {
  font-family: "Jalal";
  src: url("./Font//JalalSly-1.0.woff");
}

/* COLORS */
:root {
  --black: #080808;
  --black-90: #212121;
  --black-80: #393939;
  --black-70: #535353;
  --white: #ffffff;
  --dark-gold: #ada071;
  --darker-gold: #877c52;
  --gold-100: #c6b780;
  --gold-70: #d8cda7;
  --gold-40: #e8e2cc;
  --gold-10: #faf8f3;
}

/* GLOBAL STYLE*/
* {
  margin: 0;
  padding: 0;
  direction: rtl;
  font-family: "Jalal";
  box-sizing: border-box;
}

body {
  color: var(--white);
  background-color: var(--black);
}

/* Typography */
h1 {
  font-size: 2.125rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.75rem;
  font-weight: bold;
}

h4 {
  font-size: 1.5rem;
  font-weight: bold;
}

h5 {
  font-size: 1rem;
  font-weight: bold;
}

h6 {
  font-size: 0.875rem;
  font-weight: bold;
}

p {
  font-size: 1.25rem;
}

span {
  font-size: 1rem;
}