/* INDEX HEADER */
.container {
  width: 100%;
  height: 1080px;
  background-image: url(../../Images/Header/Roses.svg);
}

/* PRIMARY HEADER */
.primContainer {
  width: 100%;
  height: 88px;
  background: linear-gradient(
    180deg,
    #000000 0%,
    rgba(0, 0, 0, 0.0526316) 150.11%,
    rgba(0, 0, 0, 0) 150.12%
  );
}