.container {
  width: 100%;
  height: 672px;
  display: grid;
  position: relative;
  text-align: center;
  grid-template-columns: auto;
  grid-template-rows: auto 250px 60px 100px;
}

.bgRose {
  z-index: -1;
  top: 110px;
  right: 82%;
  position: absolute;
}

.container h1 {
  margin-bottom: 5%;
  align-self: flex-end;
}

.commentsBox {
  width: 1120px;
  height: 100%;
  overflow: hidden;
  justify-self: center;
}

.wrapper {
  transition: all 1s ease;
}

.commentsArrow {
  width: 1120px;
  height: 100%;
  justify-self: center;
}

.commentsArrow img {
  cursor: pointer;
}

/* Comment Component */
.commentContainer {
  width: 312px;
  height: 248px;
  padding: 2%;
  margin: 0 12px;
  border-radius: 10px;
  border: 0.5px solid var(--gold-100);
  background-color: var(--black);
  background-image: url(../../Images/Header/Roses.svg);
}

.commentInfo img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 0.5px solid var(--gold-100);
}

.commentTitle {
  cursor: default;
  margin-right: 5%;
  text-align: right;
}

.commentDesc {
  width: 250px;
  margin: 5% 2%;
  cursor: default;
  overflow: scroll;
  max-height: 135px;
  text-align: right;
}
